@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
h1, .logo {
  font-family: 'Amiri', serif;
  font-weight: normal;
}
.logo {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
p, a {
    font-family: 'Montserrat';
}
ul {
    list-style: none;

}
.hearth {
    color: rgb(255, 185, 206);
}
.main-bg, .social, .pagination {
    position: absolute;
}
.social {
    display: none;
}
header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
    ul {
        display: none;
    }
}
.main-bg {
    background: url('../images/main-bg.jpg');
    background-position: 21% 10%;
    width: 40%;
    height: 900px;
    z-index: -1;
    right: 0;
}
.main-content {
    padding: 9em 4em 15em 3em;
    p {
        font-size: .9em;
        line-height: 1.5em;
        padding-right: 20%;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            height: 3em;
            width: 30%;
            background-color: rgb(255, 185, 206);
            margin-top: 0.8em;
            z-index: -1;
            opacity: 0.5;

        }
    }
}
h1 {
    font-size: 2em;
    line-height: 2em;
}

footer {
    width: 85%;
    background:rgb(29, 33, 36);
    display: flex;
    position: relative;
}

.plants {
    width: 8em;
    height: 8em;
    background: url('../images/plants.jpg');
    background-size: cover;
}

.cta {
    color: white;
    text-decoration: none;
    align-self: center;
    position: relative;
    margin: 3em auto;
    white-space: nowrap;

    &:before {
        content: '';
        position: absolute;
        width: 82%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 1px solid rgb(255, 185, 206);
    }
}

ul.pagination {
    z-index: 1;
    background: white;
    right: 0;
    top: 35%;
    
    li {
        padding: 1em 1.5em 1.5em 1em;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid rgb(255, 185, 206);
            border-radius: 50%;
        }
    }

    .active:before {
        background-color: rgb(255, 185, 206);
    }
}

.block {
    position: absolute;
    background: rgb(44, 50, 54);
    width: 2em;
    height: 2em;
}
.one {
    right: 2em;
}
.two {
    right: 0em;
    top: 2em;
}

@media (min-width: 550px) {
    body {
        font-size: 18px;
    }
    .menu {
        display: none;
    }
    nav ul {
        display: flex;

        li a {
            color: black;
            text-decoration: none;
            display: block;
            padding: .3em .8em;
            font-size: .9em;
        }
    }
    .main-content {
        padding: 5em 4em 15em 3em;
    }
    .social {
        display: unset;
        z-index: 1;
        left: 1em;
        top: 35%;
        text-align: center;
    
        li {
            margin-bottom: 2em;
            img {
                width: 20px;
            }
        }
    }

}

@media (min-width: 900px) {
    body {
        font-size: 20px;
    }

    footer {
        width: 75%;
    }
    .plants {
        width: 12em;
        height: 12em;
    }
    .main-content {
        padding: 7em 4em 10em 12em;
        p {
            width: 80%;
        }
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
    .main-content {
        padding: 7em 1em 10em 18em;
        p {
            width: 70%;
        }
        p::before {
            width: 50%;
        }
    }
}

@media (min-width: 1400px) {
    .main-bg {
        right: 4%;
    }
    h1 {
        margin-left: 2em;
    }
}
/*# sourceMappingURL=main.css.map */